<div id="skeleton-bar-new" class="sticky">
    <div class="app-bar-new2 sticky">
        <div class="bar-container">
            <ul class="list-button">
                <li>
                    <button class="btn-icon">
                        <i class="icon icon-menu"></i>
                    </button>
                </li>
            </ul>
            <ul class="list-button">
                <li>
                    <a class="btn-icon js-reveal-search" title="Search with Jamendo Party">
                        <i class="icon icon-search"></i>
                    </a>
                </li>
            </ul>
            <div class="search-module">
                <div class="search-module__left">
                    <i class="icon icon-search medium"></i>
                </div>
                <div class="search-module__field">
                    <div class="chosen-container">
                        <ul class="chosen-choices js-search-form-term"></ul>
                        <div class="search-field">
                            <div class="search-field-placeholder js-form-search-placeholder"></div>
                            <input type="text" class="js-form-search-input" value=""
                                   placeholder="Search with Jamendo Party" autocomplete="off" required="required">
                            <button class="btn-icon js-form-search-reset">
                                <i class="icon icon-close medium"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-and-login-container">
            <div class="user-zone js-user-log">
                <div class="js-is-not-logged hidden">
                    <button class="btn btn--bordered js-user-login">Log in</button>
                </div>
                <div class="js-is-logged">
                    <div class="avatar-button js-open-menu">
                        <div class="avatar-button_avatar">
                            <div>
                                <div class="avatar">
                                    <div>
                                        <img class="js-attr-image"
                                             src="https://cdn-img.jamendo.com/users/s7058/7058873/covers/1.50.jpg?du=1553024950832"
                                             alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="avatar-button_username js-attr-dispname">gchameroy.jamendo</div>
                        <div class="user-menu-pin"></div>
                        <ul class="user-menu">
                            <li><a class="js-settings-link">Settings</a></li>
                            <li><a class="js-user-logout js-navigation-logout-link">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
