<div class="app-bar-new2 sticky">
    <div class="bar-container">
        <ul class="list-button">
            <li>
                <button class="btn-icon">
                    <i class="icon icon-menu"></i>
                </button>
            </li>
        </ul>
        <ul class="list-button">
            <li>
                <a class="btn-icon js-reveal-search" title="Search with Jamendo Party">
                    <i class="icon icon-search"></i>
                </a>
            </li>
        </ul>
        <div class="search-module">
            <div class="search-module__left">
                <i class="icon icon-search medium"></i>
            </div>
            <div class="search-module__field">
                <div class="chosen-container">
                    <ul class="chosen-choices js-search-form-term"></ul>
                    <div class="search-field">
                        <div class="search-field-placeholder js-form-search-placeholder"></div>
                        <input type="text" class="js-form-search-input" value=""
                               placeholder="Search with Jamendo Party" autocomplete="off" required="required">
                        <button class="btn-icon js-form-search-reset">
                            <i class="icon icon-close medium"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-and-login-container">
        <div class="user-zone js-user-log">
            <div class="js-is-logged">
                <div class="avatar-button js-open-menu">
                    <div *ngIf="counterApiService.count"
                         class="avatar-button_username js-attr-dispname">Music listened : {{ counterApiService.count }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
