<div class="container-fluid">
    <div class="js-pivot-header-incontainer">
        <header class="hero-plain desktop">
            <div class="hero-plain_structure">
                <div class="hero-plain_cover">
                    <div class="hero-cover">
                        <div>
                            <img src="https://cdn-img.jamendo.com/albums/s181/181920/covers/1.300.jpg?du=1547720144"
                                 alt="Wild Heart Jamendo Music track cover">
                        </div>
                    </div>
                </div>
                <div class="hero-plain_content">
                    <div class="hero-entity-description">
                        <span class="prefix">Track</span><br>
                        <h1 class="primary">
                            <span>Wild Heart</span>
                            <span>(2019)</span>
                        </h1>
                        <br>
                        <span>Omonoko</span>
                        <br>
                        <ul class="tags">
                            <li>#<span>rock</span></li>
                            <li>#<span>indie</span></li>
                            <li>#<span>energetic</span></li>
                            <li>#<span>guitar</span></li>
                            <li>#<span>drums</span></li>
                            <li>#<span>sport</span></li>
                            <li>#<span>alternativerock</span></li>
                            <li>#<span>advertising</span></li>
                        </ul>
                        <br>
                        <span class="source-link">
                            From the album:
                            <span>Wild Heart - EP</span>
                        </span>
                    </div>
                    <ul class="btn-action-list">
                        <li>
                            <button class="btn-action highlight js-play-me" title="Play" data-jam-title-play="Play"
                                    data-jam-title-pause="Pause" itemprop="audio">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                                <span>Play</span>
                                <span>Pause</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
</div>
