<div class="container-fluid">
    <div class="js-pivot-menu">
        <div class="pivot-bar">
            <ul class="js-swipe-item-list">
                <li class="js-swipe-tab is-active">
                    <a routerLink="/explore/playlists">Playlists</a>
                </li>
            </ul>
        </div>
    </div>

    <ul class="pivot js-swipe-container">
        <li class="page is-current">
            <div>
                <ul class="row row--list-grid section-no-header js-explore-playlists-list" style="display: block;">
                    <li class="col-lg-2 col-sm-3 col-xs-6 col-xl-2 col-xl-force-8-split">
                        <div class="entity">
                            <button class="play btn-pill btn--brand btn--sm js-play-me" title="Play"
                                    data-jam-title-play="Play" data-jam-title-pause="Pause" itemprop="audio">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                            </button>
                            <a routerLink="/playlist" class="link-wrap">
                                <div class="entity_visual" style="overflow: hidden;">
                                    <div style="left: -15%;">
                                        <picture>
                                            <source srcset="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942">
                                            <img class="entity_visual_image" style="width: auto; height: 100%;"
                                                 src="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942"
                                                 alt="album cover" itemprop="image">
                                        </picture>
                                    </div>
                                </div>
                                <div class="entity_information">
                                    <div>
                                        <span class="entity_information_title"
                                              itemprop="name">Best of January 2019</span>
                                        <br>
                                        <span class="entity_information_secondary">
                                            <span itemprop="numTracks">15</span> Tracks
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="col-lg-2 col-sm-3 col-xs-6 col-xl-2 col-xl-force-8-split">
                        <div class="entity">
                            <button class="play btn-pill btn--brand btn--sm js-play-me" title="Play"
                                    data-jam-title-play="Play" data-jam-title-pause="Pause" itemprop="audio">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                            </button>
                            <a routerLink="/playlist" class="link-wrap">
                                <div class="entity_visual" style="overflow: hidden;">
                                    <div style="left: -15%;">
                                        <picture>
                                            <source srcset="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942">
                                            <img class="entity_visual_image" style="width: auto; height: 100%;"
                                                 src="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942"
                                                 alt="album cover" itemprop="image">
                                        </picture>
                                    </div>
                                </div>
                                <div class="entity_information">
                                    <div>
                                        <span class="entity_information_title"
                                              itemprop="name">Best of January 2019</span>
                                        <br>
                                        <span class="entity_information_secondary">
                                            <span itemprop="numTracks">15</span> Tracks
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="col-lg-2 col-sm-3 col-xs-6 col-xl-2 col-xl-force-8-split">
                        <div class="entity">
                            <button class="play btn-pill btn--brand btn--sm js-play-me" title="Play"
                                    data-jam-title-play="Play" data-jam-title-pause="Pause" itemprop="audio">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                            </button>
                            <a routerLink="/playlist" class="link-wrap">
                                <div class="entity_visual" style="overflow: hidden;">
                                    <div style="left: -15%;">
                                        <picture>
                                            <source srcset="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942">
                                            <img class="entity_visual_image" style="width: auto; height: 100%;"
                                                 src="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942"
                                                 alt="album cover" itemprop="image">
                                        </picture>
                                    </div>
                                </div>
                                <div class="entity_information">
                                    <div>
                                        <span class="entity_information_title"
                                              itemprop="name">Best of January 2019</span>
                                        <br>
                                        <span class="entity_information_secondary">
                                            <span itemprop="numTracks">15</span> Tracks
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="col-lg-2 col-sm-3 col-xs-6 col-xl-2 col-xl-force-8-split">
                        <div class="entity">
                            <button class="play btn-pill btn--brand btn--sm js-play-me" title="Play"
                                    data-jam-title-play="Play" data-jam-title-pause="Pause" itemprop="audio">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                            </button>
                            <a routerLink="/playlist" class="link-wrap">
                                <div class="entity_visual" style="overflow: hidden;">
                                    <div style="left: -15%;">
                                        <picture>
                                            <source srcset="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942">
                                            <img class="entity_visual_image" style="width: auto; height: 100%;"
                                                 src="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942"
                                                 alt="album cover" itemprop="image">
                                        </picture>
                                    </div>
                                </div>
                                <div class="entity_information">
                                    <div>
                                        <span class="entity_information_title"
                                              itemprop="name">Best of January 2019</span>
                                        <br>
                                        <span class="entity_information_secondary">
                                            <span itemprop="numTracks">15</span> Tracks
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="col-lg-2 col-sm-3 col-xs-6 col-xl-2 col-xl-force-8-split">
                        <div class="entity">
                            <button class="play btn-pill btn--brand btn--sm js-play-me" title="Play"
                                    data-jam-title-play="Play" data-jam-title-pause="Pause" itemprop="audio">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                            </button>
                            <a routerLink="/playlist" class="link-wrap">
                                <div class="entity_visual" style="overflow: hidden;">
                                    <div style="left: -15%;">
                                        <picture>
                                            <source srcset="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942">
                                            <img class="entity_visual_image" style="width: auto; height: 100%;"
                                                 src="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942"
                                                 alt="album cover" itemprop="image">
                                        </picture>
                                    </div>
                                </div>
                                <div class="entity_information">
                                    <div>
                                        <span class="entity_information_title"
                                              itemprop="name">Best of January 2019</span>
                                        <br>
                                        <span class="entity_information_secondary">
                                            <span itemprop="numTracks">15</span> Tracks
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="col-lg-2 col-sm-3 col-xs-6 col-xl-2 col-xl-force-8-split">
                        <div class="entity">
                            <button class="play btn-pill btn--brand btn--sm js-play-me" title="Play"
                                    data-jam-title-play="Play" data-jam-title-pause="Pause" itemprop="audio">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                            </button>
                            <a routerLink="/playlist" class="link-wrap">
                                <div class="entity_visual" style="overflow: hidden;">
                                    <div style="left: -15%;">
                                        <picture>
                                            <source srcset="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942">
                                            <img class="entity_visual_image" style="width: auto; height: 100%;"
                                                 src="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942"
                                                 alt="album cover" itemprop="image">
                                        </picture>
                                    </div>
                                </div>
                                <div class="entity_information">
                                    <div>
                                        <span class="entity_information_title"
                                              itemprop="name">Best of January 2019</span>
                                        <br>
                                        <span class="entity_information_secondary">
                                            <span itemprop="numTracks">15</span> Tracks
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="col-lg-2 col-sm-3 col-xs-6 col-xl-2 col-xl-force-8-split">
                        <div class="entity">
                            <button class="play btn-pill btn--brand btn--sm js-play-me" title="Play"
                                    data-jam-title-play="Play" data-jam-title-pause="Pause" itemprop="audio">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                            </button>
                            <a routerLink="/playlist" class="link-wrap">
                                <div class="entity_visual" style="overflow: hidden;">
                                    <div style="left: -15%;">
                                        <picture>
                                            <source srcset="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942">
                                            <img class="entity_visual_image" style="width: auto; height: 100%;"
                                                 src="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942"
                                                 alt="album cover" itemprop="image">
                                        </picture>
                                    </div>
                                </div>
                                <div class="entity_information">
                                    <div>
                                        <span class="entity_information_title"
                                              itemprop="name">Best of January 2019</span>
                                        <br>
                                        <span class="entity_information_secondary">
                                            <span itemprop="numTracks">15</span> Tracks
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="col-lg-2 col-sm-3 col-xs-6 col-xl-2 col-xl-force-8-split">
                        <div class="entity">
                            <button class="play btn-pill btn--brand btn--sm js-play-me" title="Play"
                                    data-jam-title-play="Play" data-jam-title-pause="Pause" itemprop="audio">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                            </button>
                            <a routerLink="/playlist" class="link-wrap">
                                <div class="entity_visual" style="overflow: hidden;">
                                    <div style="left: -15%;">
                                        <picture>
                                            <source srcset="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942">
                                            <img class="entity_visual_image" style="width: auto; height: 100%;"
                                                 src="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942"
                                                 alt="album cover" itemprop="image">
                                        </picture>
                                    </div>
                                </div>
                                <div class="entity_information">
                                    <div>
                                        <span class="entity_information_title"
                                              itemprop="name">Best of January 2019</span>
                                        <br>
                                        <span class="entity_information_secondary">
                                            <span itemprop="numTracks">15</span> Tracks
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="col-lg-2 col-sm-3 col-xs-6 col-xl-2 col-xl-force-8-split">
                        <div class="entity">
                            <button class="play btn-pill btn--brand btn--sm js-play-me" title="Play"
                                    data-jam-title-play="Play" data-jam-title-pause="Pause" itemprop="audio">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                            </button>
                            <a routerLink="/playlist" class="link-wrap">
                                <div class="entity_visual" style="overflow: hidden;">
                                    <div style="left: -15%;">
                                        <picture>
                                            <source srcset="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942">
                                            <img class="entity_visual_image" style="width: auto; height: 100%;"
                                                 src="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942"
                                                 alt="album cover" itemprop="image">
                                        </picture>
                                    </div>
                                </div>
                                <div class="entity_information">
                                    <div>
                                        <span class="entity_information_title"
                                              itemprop="name">Best of January 2019</span>
                                        <br>
                                        <span class="entity_information_secondary">
                                            <span itemprop="numTracks">15</span> Tracks
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="col-lg-2 col-sm-3 col-xs-6 col-xl-2 col-xl-force-8-split">
                        <div class="entity">
                            <button class="play btn-pill btn--brand btn--sm js-play-me" title="Play"
                                    data-jam-title-play="Play" data-jam-title-pause="Pause" itemprop="audio">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                            </button>
                            <a routerLink="/playlist" class="link-wrap">
                                <div class="entity_visual" style="overflow: hidden;">
                                    <div style="left: -15%;">
                                        <picture>
                                            <source srcset="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942">
                                            <img class="entity_visual_image" style="width: auto; height: 100%;"
                                                 src="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942"
                                                 alt="album cover" itemprop="image">
                                        </picture>
                                    </div>
                                </div>
                                <div class="entity_information">
                                    <div>
                                        <span class="entity_information_title"
                                              itemprop="name">Best of January 2019</span>
                                        <br>
                                        <span class="entity_information_secondary">
                                            <span itemprop="numTracks">15</span> Tracks
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="col-lg-2 col-sm-3 col-xs-6 col-xl-2 col-xl-force-8-split">
                        <div class="entity">
                            <button class="play btn-pill btn--brand btn--sm js-play-me" title="Play"
                                    data-jam-title-play="Play" data-jam-title-pause="Pause" itemprop="audio">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                            </button>
                            <a routerLink="/playlist" class="link-wrap">
                                <div class="entity_visual" style="overflow: hidden;">
                                    <div style="left: -15%;">
                                        <picture>
                                            <source srcset="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942">
                                            <img class="entity_visual_image" style="width: auto; height: 100%;"
                                                 src="https://cdn-img.jamendo.com/wallposts/36/636.420_315.jpg?du=1550155942"
                                                 alt="album cover" itemprop="image">
                                        </picture>
                                    </div>
                                </div>
                                <div class="entity_information">
                                    <div>
                                        <span class="entity_information_title"
                                              itemprop="name">Best of January 2019</span>
                                        <br>
                                        <span class="entity_information_secondary">
                                            <span itemprop="numTracks">15</span> Tracks
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
