<div class="container-fluid">
    <div class="js-pivot-header-incontainer">
        <header class="hero-plain desktop">
            <div class="hero-plain_structure">
                <div class="hero-plain_cover">
                    <div class="hero-cover">
                        <div>
                            <ul class="playlist-cover-grid">
                                <li>
                                    <img src="https://cdn-img.jamendo.com/albums/s181/181920/covers/1.400.jpg"
                                         alt="cover">
                                </li>
                                <li>
                                    <img src="https://cdn-img.jamendo.com/track/s1615/1615623/covers/1.400.jpg"
                                         alt="cover">
                                </li>
                                <li>
                                    <img src="https://cdn-img.jamendo.com/track/s1615/1615430/covers/1.400.jpg"
                                         alt="cover">
                                </li>
                                <li>
                                    <img src="https://cdn-img.jamendo.com/track/s1608/1608430/covers/1.400.jpg"
                                         alt="cover">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="hero-plain_content">
                    <div class="hero-entity-description">
                        <span class="prefix">Playlist</span><br>
                        <h1 class="primary">Best of January 2019</h1><br>
                        <p class="secondary">
                            <span>@<span itemprop="name">Jamendo Music</span></span>
                        </p>
                    </div>
                    <ul class="btn-action-list">
                        <li>
                            <button class="btn-action highlight js-play-me" title="Play" data-jam-title-play="Play"
                                    data-jam-title-pause="Pause" itemprop="audio">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                                <span>Play</span>
                                <span>Pause</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <div class="js-pivot-menu">
        <div class="pivot-bar">
            <ul class="js-swipe-item-list">
                <li class="js-swipe-tab is-active">
                    <a routerLink="/playlist">Playlist</a>
                </li>
            </ul>
        </div>
    </div>
    <ul class="pivot js-swipe-container">
        <li class="page is-current">
            <div class="row">
                <div class="col-lg-7 col-wide-gap section-no-header js-playlistOverview-tracksList">
                    <ul class="list-track js-tracklist" style="">
                        <li class="track js-trackrow-playlistpage ">
                            <button class="track_play btn-pill btn--brand btn--xs js-play-me" title="Play"
                                    data-jam-title-play="Play" data-jam-title-pause="Pause" itemprop="audio">
                                <img src="https://cdn-img.jamendo.com/albums/s181/181920/covers/1.50.jpg?du=1547720144"
                                     alt="cover Wild Heart" itemprop="image">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                            </button>
                            <a href="#" class="link-wrap js-trackrow-playlistpage-link">
                                <div>
                                    <div class="track_information">
			                            <span class="track_information_title">Wild Heart</span>
                                        <br>
                                        <span class="track_information_artist">
                                            <span>Omonoko</span>
			                            </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="track js-trackrow-playlistpage ">
                            <button class="track_play btn-pill btn--brand btn--xs js-play-me" title="Play"
                                    data-jam-title-play="Play" data-jam-title-pause="Pause" itemprop="audio">
                                <img src="https://cdn-img.jamendo.com/albums/s181/181920/covers/1.50.jpg?du=1547720144"
                                     alt="cover Wild Heart" itemprop="image">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                            </button>
                            <a href="#" class="link-wrap js-trackrow-playlistpage-link">
                                <div>
                                    <div class="track_information">
                                        <span class="track_information_title">Wild Heart</span>
                                        <br>
                                        <span class="track_information_artist">
                                            <span>Omonoko</span>
			                            </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="track js-trackrow-playlistpage ">
                            <button class="track_play btn-pill btn--brand btn--xs js-play-me" title="Play"
                                    data-jam-title-play="Play" data-jam-title-pause="Pause" itemprop="audio">
                                <img src="https://cdn-img.jamendo.com/albums/s181/181920/covers/1.50.jpg?du=1547720144"
                                     alt="cover Wild Heart" itemprop="image">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                            </button>
                            <a href="#" class="link-wrap js-trackrow-playlistpage-link">
                                <div>
                                    <div class="track_information">
                                        <span class="track_information_title">Wild Heart</span>
                                        <br>
                                        <span class="track_information_artist">
                                            <span>Omonoko</span>
			                            </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="track js-trackrow-playlistpage ">
                            <button class="track_play btn-pill btn--brand btn--xs js-play-me" title="Play"
                                    data-jam-title-play="Play" data-jam-title-pause="Pause" itemprop="audio">
                                <img src="https://cdn-img.jamendo.com/albums/s181/181920/covers/1.50.jpg?du=1547720144"
                                     alt="cover Wild Heart" itemprop="image">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                            </button>
                            <a href="#" class="link-wrap js-trackrow-playlistpage-link">
                                <div>
                                    <div class="track_information">
                                        <span class="track_information_title">Wild Heart</span>
                                        <br>
                                        <span class="track_information_artist">
                                            <span>Omonoko</span>
			                            </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="track js-trackrow-playlistpage ">
                            <button class="track_play btn-pill btn--brand btn--xs js-play-me" title="Play"
                                    data-jam-title-play="Play" data-jam-title-pause="Pause" itemprop="audio">
                                <img src="https://cdn-img.jamendo.com/albums/s181/181920/covers/1.50.jpg?du=1547720144"
                                     alt="cover Wild Heart" itemprop="image">
                                <i class="icon icon-play-s"></i>
                                <i class="icon icon-pause-s"></i>
                            </button>
                            <a href="#" class="link-wrap js-trackrow-playlistpage-link">
                                <div>
                                    <div class="track_information">
                                        <span class="track_information_title">Wild Heart</span>
                                        <br>
                                        <span class="track_information_artist">
                                            <span>Omonoko</span>
			                            </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 hidden-xs hidden-sm hidden-md"></div>
            </div>
        </li>
    </ul>
</div>
