<nav role="navigation" id="skeleton-navigation">
    <nav class="navigation">
        <div class="wrap">
            <div>
                <ul class="primary mt-3">
                    <li><a routerLink="/"><span>Jamendo Party</span></a></li>
                </ul>
                <hr>
                <ul class="primary">
                    <li><a routerLink="/"><span>Home</span></a></li>
                    <li><a routerLink="/explore/playlists"><span>Playlists</span></a></li>
                </ul>
                <hr>
                <ul class="primary js-is-logged hidden">
                    <li>
                        <a class="js-profile-link" href="#">
                            <i class="icon icon-user-s"></i>
                            <span>My profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="js-playlists-link" href="#">
                            <i class="icon icon-playlist-access-s"></i>
                            <span>My playlists</span>
                        </a>
                    </li>
                </ul>
                <ul class="primary js-is-not-logged">
                    <li>
                        <a class="js-user-create-account" href="#">
                            <span>Create account</span>
                        </a>
                    </li>
                    <li>
                        <a class="js-user-login" href="#">
                            <span>Log in</span>
                        </a>
                    </li>
                    <li>
                        <a class="js-user-lost-password" href="#">
                            <span>Forgot your password?</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="language">
                    <select class="js-navigation-lang">
                        <option value="en" selected="selected">English</option>
                        <option value="fr">Français</option>
                    </select>
                    <i class="icon icon-chevron-down"></i>
                </div>
            </div>
        </div>
    </nav>
</nav>
