<nav class="navigation">
    <div class="wrap">
        <div>
            <ul class="primary mt-3">
                <li><a routerLink="/start"><span>Jamendo Party</span></a></li>
            </ul>
            <hr>
            <ul class="primary">
                <li><a routerLink="/start"><span>{{ 'navigation.home' | translate }}</span></a></li>
                <li><a routerLink="/explore/playlists"><span>{{ 'navigation.playlists' | translate }}</span></a></li>
            </ul>
        </div>
        <div>
            <div class="language">
                <select (change)="onChangeLang($event.target.value)" class="js-navigation-lang">
                    <option value="en" selected="selected">English</option>
                    <option value="fr">Français</option>
                </select>
                <i class="icon icon-chevron-down"></i>
            </div>
        </div>
    </div>
</nav>
