<div class="container-fluid">
    <div class="js-pivot-menu">
        <div class="pivot-bar">
            <ul class="js-swipe-item-list">
                <li class="js-swipe-tab is-active">
                    <a>{{ 'search.pivot.search' | translate }}</a>
                </li>
            </ul>
        </div>
    </div>

    <ul class="pivot js-swipe-container">
        <li class="page is-current">
            <div>
                <ul class="row row--list-grid section-no-header js-explore-playlists-list" style="display: block;">
                    <li *ngFor="let playlist of playlistService.playlists" class="col-lg-2 col-sm-3 col-xs-6 col-xl-2 col-xl-force-8-split">
                        <div class="entity">
                            <a [routerLink]="['/playlist/' + playlist.id]" class="link-wrap">
                                <div class="entity_visual" style="overflow: hidden;">
                                    <div>
                                        <picture>
                                            <img *ngIf="playlist.tracks" class="entity_visual_image" style="width: auto; height: 100%;"
                                                 [src]="playlist.tracks[0].album_image"
                                                 alt="album cover" itemprop="image">
                                        </picture>
                                    </div>
                                </div>
                                <div class="entity_information">
                                    <div>
                                        <span class="entity_information_title"
                                              itemprop="name">{{ playlist.name }}</span>
                                        <br>
                                        <span *ngIf="playlist.tracks" class="entity_information_secondary">
                                            {{ 'playlists.tracks' | translate:{'number': playlist.tracks.length} }}
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
