<div class="home container">
    <section class="mt-3">
        <h2>Playlists<small class="ml-2">8</small></h2>
        <div class="row">
            <div class="col">
                <div class="tile">
                    <img src="assets/radio-pop-tile-sm.jpg" alt="" />
                    <p class="playlist-name">Pop Music</p>
                    <p class="playlist-author">Geoffrey Chameroy</p>
                </div>
                <div class="tile">
                    <img src="assets/radio-pop-tile-sm.jpg" alt="" />
                    <p class="playlist-name">Pop Music</p>
                    <p class="playlist-author">Geoffrey Chameroy</p>
                </div>
                <div class="tile">
                    <img src="assets/radio-pop-tile-sm.jpg" alt="" />
                    <p class="playlist-name">Pop Music</p>
                    <p class="playlist-author">Geoffrey Chameroy</p>
                </div>
                <div class="tile">
                    <img src="assets/radio-pop-tile-sm.jpg" alt="" />
                    <p class="playlist-name">Pop Music</p>
                    <p class="playlist-author">Geoffrey Chameroy</p>
                </div>
                <div class="tile">
                    <img src="assets/radio-pop-tile-sm.jpg" alt="" />
                    <p class="playlist-name">Pop Music</p>
                    <p class="playlist-author">Geoffrey Chameroy</p>
                </div>
                <div class="tile">
                    <img src="assets/radio-pop-tile-sm.jpg" alt="" />
                    <p class="playlist-name">Pop Music</p>
                    <p class="playlist-author">Geoffrey Chameroy</p>
                </div>
                <div class="tile">
                    <img src="assets/radio-pop-tile-sm.jpg" alt="" />
                    <p class="playlist-name">Pop Music</p>
                    <p class="playlist-author">Geoffrey Chameroy</p>
                </div>
                <div class="tile">
                    <img src="assets/radio-pop-tile-sm.jpg" alt="" />
                    <p class="playlist-name">Pop Music</p>
                    <p class="playlist-author">Geoffrey Chameroy</p>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-3">
        <h2>Recommendations<small class="ml-2">Recommended playlists for you</small></h2>
        <div class="tile">
            <img src="assets/radio-pop-tile-sm.jpg" alt="" />
            <p class="playlist-name">Pop Music</p>
            <p class="playlist-author">Jamendo Party</p>
        </div>
        <div class="tile">
            <img src="assets/radio-pop-tile-sm.jpg" alt="" />
            <p class="playlist-name">Pop Music</p>
            <p class="playlist-author">Jamendo Party</p>
        </div>
        <div class="tile">
            <img src="assets/radio-pop-tile-sm.jpg" alt="" />
            <p class="playlist-name">Pop Music</p>
            <p class="playlist-author">Jamendo Party</p>
        </div>
        <div class="tile">
            <img src="assets/radio-pop-tile-sm.jpg" alt="" />
            <p class="playlist-name">Pop Music</p>
            <p class="playlist-author">Jamendo Party</p>
        </div>
        <div class="tile">
            <img src="assets/radio-pop-tile-sm.jpg" alt="" />
            <p class="playlist-name">Pop Music</p>
            <p class="playlist-author">Jamendo Party</p>
        </div>
    </section>
</div>
