<div class="container-fluid">
    <div class="js-homepage-section-explore">
        <section>
            <header class="section-header">
                <div class="section-header_mono">
                    <h1>{{ 'home.title' | translate }}</h1>
                </div>
            </header>
            <ul class="row row--list-grid">
                <li class="col-sm-4">
                    <div class="tile tile--wide">
                        <a routerLink="/explore/playlists" class="link-wrap">
                            <div class="tile_body">
                                <div class="tile_body_background">
                                    <picture>
                                        <source srcset="https://imgjam.com/jamendomusic/home/home-explore-playlists-tile-wide-xl.jpg"
                                                media="(min-width: 1646px)">
                                        <source srcset="https://imgjam.com/jamendomusic/home/home-explore-playlists-tile-wide-lg.jpg"
                                                media="(min-width: 1334px)">
                                        <source srcset="https://imgjam.com/jamendomusic/home/home-explore-playlists-tile-wide-md.jpg">
                                        <img src="https://imgjam.com/jamendomusic/home/home-explore-playlists-tile-wide-lg.jpg"
                                             alt="explore playlists">
                                    </picture>
                                </div>
                                <div>
                                    <div class="tile_body_content">
                                        <div class="tile_body_content_descriptive">
                                            <div class="tile_body_content_descriptive_title">
                                                <span>{{ 'home.tile.playlists' | translate }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>
